<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>


<h3>Title:</h3>
<p><%= @book.title %></p>

<h3>Body:</h3>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path %>
<%= link_to "Back", books_path %>